@model MvcOtomation.Models.Classes.SalesTransaction

@{
    ViewBag.Title = "AddSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left: 20px">Add Sales </h2>
<br />
<form method="post" class="form-group" style="margin-left: 20px">
    @*//Sales Employee*@
    @Html.Label("Employee Name")
    @Html.DropDownListFor( x=>x.EmployeeId,
    (List<SelectListItem>)ViewBag.ListEmployeeBag,
    new { @class = "form-control" })


    <br />

    @*//Sales Product*@
    @Html.Label("Product")
    @Html.DropDownListFor( x=>x.ProductId,
    (List<SelectListItem>)ViewBag.ListProductBag,
    new { @class = "form-control" })
    <br />

    @*//Sales Current*@
    @Html.Label("Current")
    @Html.DropDownListFor( x=>x.CurrentId,
    (List<SelectListItem>)ViewBag.ListCurrentBag,
    new { @class = "form-control" })
    <br />

    @*//Sales Price*@
    @Html.Label("Price")
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />

    @*//Sales Piece*@
    @Html.LabelFor(x => x.Piece)
    @Html.TextBoxFor(x => x.Piece, new { @class = "form-control" })
    <br />

    @*//Sales Piece*@
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    <br />

    <button class="btn btn-info" style="margin-top: 20px">Add Sale</button>
</form>

