@using MvcOtomation.Models.Classes
@model List<SalesTransaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<meta charset="UTF-8">
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Sales</div>
    <div class="card-body">
        <div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Employee</th>
                        <th>Product</th>
                        <th>Current</th>
                        <th>Price</th>
                        <th>Piece</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Update</th>
                        <th>Details</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>@item.Id</td>
                        <th>@item.Employee.Name @item.Employee.Surname</th>
                        <td>@item.Product.Name</td>
                        <td>@item.Current.Name  @item.Current.Surname</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Piece</td>
                        <td>@item.Amount</td>
                        <td>@item.Time</td>

                        @*<td style="text-align: center"><a href="/Current/DeleteCurrent/@item.Id" style="color: aliceblue" class=" btn btn-danger">Delete</a></td>*@
                        <td style="text-align: center"><a href="/Sales/FetchSale/@item.Id" style="color: aliceblue" class="btn btn-success">Update</a></td>
                        <td style="text-align: center"><a href="/Sales/ExportToBrowser/@item.Id" style="color: aliceblue" class="btn btn-info">Report as PDF</a></td>

                    </tr>


                    }
                </tbody>
            </table>
            <a href="/Sales/AddSales" class="btn btn-warning  ">Add New Sale &#11088;</a>
        </div>
    </div>
</div>

